header {
  background-image: url("file://C:/Users/lsmyt/Documents/Girls_Coding_Course/Project-1/pet_header.jpg");
  background-size: cover;
  height: 400px;
  width: 1250px;
  color: black;
  font-family: 'Margarine', cursive;
  padding-top: 0px;
    }

a {
  color: black;
    }

body {
  background-color: #3A9AC0;
}

/*.footer {
  background: rgba(0,0,0,0.9);
  text-align: center;
  font-size: 10px;
  font-family: 'Margarine', cursive;
}*/

.fa {
  padding: 5px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.footer {
  padding: 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #B73AAA;
  color: white;
}

ul {
  padding: 5px;
  background: #8FD6F3;
  text-align: center;
    }

li {
  display: inline;
  padding: 5px;
  font-size: 15px;
  font-family: 'Margarine', cursive;
  text-align: center;
  color: black;
    }

.centre {
  height: 200px;
  width: 180px;
  float: left;
  margin: 0px 10px 10px 25px;
  border: solid black;
    }

.dog1 {
  height: 180px;
  width: 220px;
  float: right;
  margin: 10px 25px 10px 15px;
  border: solid black;
  position: relative;
  top: -25px;
    }

h2 {
  text-align: center;
  font-family: 'Margarine', cursive;
  font-size: 30px;
  color: purple;
    }
h3 {
  text-align: left;
  font-family: 'Margarine', cursive;
  color: purple;
  padding-left: 10px;
  font-size: 25px;
}
p {
  font-family: cursive;
  font-size: 20px;
  color: black;
  padding: 0px 10px 5px 10px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px;
     }

  li {
    display: block;
    padding: 5px;
      }
   }

   .navbar {
    overflow: hidden;
    background-color: #8FD6F3;
   }

   .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }

   .dropdown {
    float: left;
    overflow: hidden;
   }

   .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
   }

   .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
   }

   .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
    z-index: 1;
   }

   .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
   }

   .dropdown-content a:hover {
    background-color: #ddd;
   }

   .dropdown:hover .dropdown-content {
    display: block;
   }

/*header {
  text-align: center;
  background: url("https://www.kingcounty.gov/~/media/global/heroimages/raskc/pets-lineup-xlg.ashx");
  background-size: cover;
  color: white;
  font-family: 'Margarine', cursive;
  padding-top: 0px;
    }

a {
  color: white;
    }
body {
  background-color: rgba(0,0,0,0.3);
}

h1 {
  font-size: 60px;
  color: black;
  padding-bottom: 90px;
  padding-top: 0px;
  float: top;
    }

ul {
  padding: 10px;
  background: rgba(0,0,0,0.9);
  text-align: center;
    }

li {
  display: inline;
  padding: 0px 10px 0px 10px;
  font-size: 25px;
  font-family: 'Margarine', cursive;
  text-align: center;
    }

.centre {
  height: 200px;
  width: 180px;
  float: left;
  margin: 0px 10px 10px 25px;
  border: solid black;
    }

.dog1 {
  height: 180px;
  width: 220px;
  float: right;
  margin: 10px 25px 10px 15px;
  border: solid black;
  position: relative;
  top: -25px;
    }

article {
  font-size: 20px;
  font-family: sans-serif;
  text-align: justify;
  color: white;
    }

h2 {
  text-align: center;
  font-family: 'Signika', sans-serif;
  font-size: 30px;
  color: white;
    }

p {
  padding: 10px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px;
     }

  li {
    display: block;
    padding: 5px;
      }
   }

   .navbar {
    overflow: hidden;
    background-color: #333;

   }

   .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }

   .dropdown {
    float: left;
    overflow: hidden;
   }

   .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
   }

   .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
   }

   .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   }

   .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
   }

   .dropdown-content a:hover {
    background-color: #ddd;
   }

   .dropdown:hover .dropdown-content {
    display: block;
   }
/*header {
  background-image: url("https://www.kingcounty.gov/~/media/global/heroimages/raskc/pets-lineup-xlg.ashx");
  background-size: cover;
  color: black;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  text-align: center;
  position: relative;
  top: -35px;
}
h2 {
  position: relative;
  top:30px;
}

.calender {
  position: relative;
  top: 30px;
}

.events-intro {
  float: right;
}

.footer {
  background: rgba(0,255,200,1);
  text-align: center;
  font-size: 15px;
  font-family: 'Bree Serif', serif;
}

.fb {
  height:20px;
  width: 20px;
  padding: 10px 5px 0px 5px;
}

.twit {
  height: 20px;
  width: 20px;
  padding: 10px 5px 0px 5px;
}

.insta {
  height: 20px;
  width: 20px;
  padding: 10px 5px 0px 5px;
}

ul {
  padding: 10px 10px 10px 10px;
  background: rgba(0,255,200,1);
  text-align: center;
  font-size: 30px;
  font-family: 'Bree Serif', serif;
  position: relative;
  top: 63px;
}

li {
  display: inline;
  padding: 10px 30px 10px 30px;
}

a {
  color: black;
}
*/
